@model _1262228_Arosh.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Details</title>


</head>
<body>

    <div>
        <center>  <h4>Chack your Information</h4></center>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FatherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FatherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MotherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MotherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodGroup)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Unit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Unit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @if (Model.Status.Value)
                {<text>Accepted</text>}
            else
            {<text>Pending</text>}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                <img src="~/Images/@Model.Picture" width="60" height="60" />
            </dd>

        </dl>
    </div>
    <div>
        <div class="col-md-12">
            <table class="table table-striped">

                <tr>
                    <th>
                        Roll No
                    </th>
                    <th>
                        Examination
                    </th>

                    <th>Result</th>
                    <th>Group</th>
                    <th>Passing Year</th>
                    <th></th>
                </tr>


                @for (int i = 0; i < Model.AcademicResults.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => x.AcademicResults[i].RollNo, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.AcademicResults[i].Examination, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.AcademicResults[i].Result, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.AcademicResults[i].Group, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.AcademicResults[i].PassingYear, new { htmlAttributes = new { @class = "form-control" } })
                        </td>


                    </tr>
                }


            </table>
        </div>
    </div>

    <center>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-warning btn-sm" })
        </div>
    </center>
</body>
</html>
